* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: hsl(240, 10%, 94%);
}

body > header,
body > footer {
  /* background-color: #2f5d3a; */
  background-image: url(https://zipgrow.com/wp-content/uploads/2023/05/chuttersnap-IfmqOuOkaOA-unsplash-1024x684.jpg);
  background-size: cover;
  text-align: center;
}

header{
  padding-top: 1em;
}

body > header > h1 {
  color: white;
  font-weight: 600;
  text-shadow: 2px 1px 1px grey;
}

body > header > p {
  padding-top: 5px;
  font-size: 20px;
  text-shadow: 1px 1px 1px grey;
  color: hsl(168, 69%, 82%);
}

nav > ul {
  list-style: none;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 5em;
  padding: 1em 0em;
}

nav a {
  text-decoration: none;
  background-color: rgb(51, 50, 50);
  border-radius: 5px;
  color: hsl(168, 69%, 82%);
  /* color: hsl(165, 94%, 52%); */
  padding: 7px;
}

nav a:hover {
  border-radius: 5px;
  color: hsl(201, 86%, 14%);
  background-color: hsl(148, 70%, 62%);
  box-shadow: 1px 1px 2px 2px hsl(0, 30%, 44%);
  cursor: pointer;
}

main {
  margin: 0em 15em;
  background-color: white;
  display: flex;
  padding-right: 2em;
}


article {
  width: 80%;
  padding: 2em;
}

article > header > p {
  line-height: 25px;
}

article > header, 
article > footer {
  background-image: linear-gradient(45deg, rgb(30, 177, 30), rgb(97, 205, 97));
  text-align: center;
  padding-bottom: 20px;
}

article > header > h2 {
  font-size: 28px;
  padding-bottom: 10px;
  color: rgb(247, 245, 245);
}

article > header > p {
  font-style: italic;
  color: hsl(180, 84%, 93%);
}

article > section {
  border-bottom: 2px solid rgb(176, 173, 173, 0.5);
  padding-bottom: 22px;
  margin-top: 2em ;
}

article > section > h3 {
  font-size: 24px;
}

article > section > p {
  padding-top: 15px;
  font-size: 18px;
}

p, address {
  line-height: 1.5em;
}

mark {
  background-color: rgb(139, 249, 139);
}

section > aside {
  height: 100%;
  padding: 2.5em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  background-color: rgb(245, 251, 250);
}

section > aside > p {
  background-color: hsl(180, 67%, 87%);
  border-left: 3px solid hsl(0, 0%, 50%);
  border-radius: 5px;
  padding: 10px;
}

section > aside > h4 {
  font-size: 20px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
}

section > aside > p:hover {
  color: white;
  background-color: rgb(139, 150, 159);
  box-shadow: 2px 2px 2px 1px hsl(163, 87%, 57%);
  cursor: pointer;
}

strong {
  font-size: 20px;
  color: #4d4d4e;
}

data, time {
  font-size: 18px;
  font-weight: bold;
}

figure {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 1em;
  width: 80%;
  border-radius: 5px;
}

figcaption {
  font-size: 1.1em;
  text-align: center;
  margin: 0.5em 0em 2em 0em;
  color: rgb(84, 80, 80);
}

details {
  border-left: 2px solid grey;
  padding: 10px;
  margin-top: 2;
  background-color: beige;
}

article > section > details:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
}

footer a {
  color: rgb(114, 22, 184);
}

footer > p {
  color: hsl(247, 74%, 29%);
  padding-bottom: 10px;
}

body > footer > p {
  color: rgb(245, 246, 247);
  text-shadow: 1px 1px 2px grey;
}

dialog {
  color: white;
  background-color: rgb(198, 42, 11);
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 2px 2px grey;
  border-radius: 5px;
  translate: 45em -6em;
  display: none;
}

body > footer:hover > dialog{
  display: block;
  cursor: pointer;
}