* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

header{
  text-align: center;
  padding: 1em;
  background-color: rgb(137, 252, 137);
}

header p {
  font-style: italic;
  color: rgb(84, 68, 68);
}

nav > ul {
  list-style: none;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 3em;
}

nav a {
  text-decoration: none;
  color: rgb(89, 91, 91);
}

main {
  margin: 3em 25em;
}

article {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

section {
  margin-bottom: 2em;
}

footer {
  background-color: rgb(158, 156, 156);
  color: rgb(56, 54, 53);
  text-align: center;
  padding: 20px;
}

footer a {
  color: rgb(114, 22, 184);
}

footer > p {
  color: darkviolet;
  padding-bottom: 10px;
}
